<p-panelMenu [model]="menuItems" class="w-full border-none" multiple>
  <ng-template #item let-item>
    @if (item.routerLink) {
      <a
        [routerLink]="item.routerLink"
        routerLinkActive="bg-primary/10 text-primary"
        class="flex items-center gap-3 px-4 py-2 cursor-pointer hover:bg-surface-200 dark:hover:bg-surface-700 transition-colors"
      >
        @if (item.matIcon) {
          <span class="material-symbols-outlined text-xl">{{ item.matIcon }}</span>
        }
        <span>{{ item.label }}</span>
      </a>
    } @else {
      <div class="flex items-center gap-3 px-4 py-2 cursor-pointer">
        @if (item.matIcon) {
          <span class="material-symbols-outlined text-xl">{{ item.matIcon }}</span>
        }
        <span class="flex-1">{{ item.label }}</span>
        @if (item.items?.length) {
          <span class="material-symbols-outlined text-sm">
            {{ item.expanded ? 'expand_less' : 'expand_more' }}
          </span>
        }
      </div>
    }
  </ng-template>
</p-panelMenu>
