<!-- <h1>General Masters</h1> -->
<p-tabs value="0">
  <p-tablist>
    <p-tab value="0">Tipo Identificación</p-tab>
    <p-tab value="1">Tipo de Sangre</p-tab>
    <p-tab value="2">Genero</p-tab>
    <p-tab value="3">Cargos</p-tab>
    <p-tab value="4">Tipos de Cabina</p-tab>
    <p-tab value="5">Tipos de Artículo</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      <app-identification-type-master />
    </p-tabpanel>
    <p-tabpanel value="1">
      <app-blood-type-master />
    </p-tabpanel>
    <p-tabpanel value="2">
      <app-gender-master />
    </p-tabpanel>
    <p-tabpanel value="3">
      <app-job-title-master />
    </p-tabpanel>
    <p-tabpanel value="4">
      <app-room-type-master />
    </p-tabpanel>
    <p-tabpanel value="5">
      <app-item-type-master />
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>